@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

html,
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background: #333;
}

header {
  background: coral;
  color: #fff;
}

h1 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 i {
  margin-right: 10px;
}

.top-container {
  width: 700px;
  margin: 30px auto;
}

video {
  border-radius: 10px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  width: 100%;
  padding: 13px;
  margin-bottom: 15px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.btn-dark {
  background: coral;
  color: #fff;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.select {
  height: 40px;
  background: #333;
  color: #fff;
  padding: 6px;
  font-size: 18px;
  width: 100%;
  border: 1px #666 solid;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bottom-container {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

#photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#photos img {
  width: 100%;
  border-radius: 10px;
}

#canvas {
  display: none;
}
