body {
  margin:0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #000 url('../img/bg.jpg');
  overflow-x: hidden;
}

.navbar {
  background: #333;
  padding: 15px;
  height: 40px;
  color: #fff;
}

.navbar h1 {
  margin: 0;
  text-align: center;
}

.top-container {
  width: 500px;
  margin: 30px auto;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
}

.btn-dark {
  background: #333;
  color: #fff;
  border: #666 1px solid;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
  border: #ccc 1px solid;
}

.select {
  height: 40px;
  background: #333;
  color: #fff;
  padding: 3px;
  width: 100%;
  border: 1px #666 solid;
  margin-bottom: 10px;
}

.bottom-container {
  max-width: 960px;
  margin: auto;
  padding: 10px;
}

#photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

#photos img {
  width: 100%;
  border: 3px #fff solid;
}

#canvas {
  display: none;
}